<div *ngIf="user">
    <div id="nick">
        <h1>{{user.nick}}</h1>
    </div>
    <div id="nick">
        <h1>Favoritos</h1>
    </div>

    <table *ngIf="user.favourites.length>0">
        <thead>
            <th>Id</th>
            <th>Imagen</th>
            <th>Artículo</th>
            <th>Precio</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of user.favourites" >
                <td [routerLink]="['/cardItem', item.id]">{{ item.id }}</td>
                <td [routerLink]="['/cardItem', item.id]">
                    <img class="imgItem" [src]="'data:image/webp;base64,' + item.image">
                </td>
                <td [routerLink]="['/cardItem', item.id]">
                    {{ item.name }}
                </td>
                <td [routerLink]="['/cardItem', item.id]">
                    {{ item.price }}
                </td>
                <td>
                    <button id="btnDeleteCategory" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" (click)="delete(item.id!,user.id!);">Quitar favorito</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>





