
<div *ngIf="user">
    <h1 id="orderTitle">Mis pedidos</h1>
    <div *ngIf="user.orders.length==0">
        <h4>No has realizado ningún pedido</h4>
    </div>
    <div *ngIf="user.orders.length>0">
        <table class="rowOrder" *ngFor="let order of orders">
            <thead>
                <tr>
                    <th colspan="2" class="orderHeader">Id pedido {{order.id}}</th>
                    <th colspan="2" class="orderHeader">Fecha: {{order.date}}</th>
                </tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Artículo</th>
                <th>Precio</th>
            </thead>
    
            <tbody *ngIf="orders">
                <tr *ngFor="let item of order.items">
                    <td class="itemId" [routerLink]="['/cardItem', item.id]">{{ item.id }}</td>
                    <td [routerLink]="['/cardItem', item.id]">
                        <img class="imgItem" [src]="'data:image/webp;base64,' + item.image">
                    </td>
                    <td [routerLink]="['/cardItem', item.id]">
                        {{ item.name }}
                    </td>
                    <td [routerLink]="['/cardItem', item.id]">
                        {{ item.price }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

