
<div *ngIf="item" id="general">
    <div id="itemName">
        <h1>{{item.name}}</h1>
    </div>
    <div id="categoryName">
        <h4 [routerLink]="['/categories', item.categoryId, 'items']">{{item.categoryName}}</h4>
    </div>
    <div>
        <h1 id="itemPrice">Precio: {{item.price}}€</h1>
    </div>
    <div id="itemDescription">
        <p>{{item.description}}</p>
    </div>
    <div id="itemImage">
        <img class="imgItem" [src]="'data:image/webp;base64,' + item.image">
    </div>
    <div *ngIf="isFavourite&&user&&isLogged">
        <button class="btn btn-dark" (click)="deleteFavourite(item.id!,user.id!);">Quitar favorito</button>
    </div>
    <div *ngIf="!isFavourite&&user&&isLogged">
        <button class="btn btn-info" (click)="addFavourite(item.id!,user.id!);">Añadir favorito</button>
    </div>
</div>




